@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 min-height: 100vh;
 min-width: 100vw;
 background: linear-gradient(180deg, #970bf5, #081312);
 background-size: cover;
 background-repeat: no-repeat;
 overflow-x: hidden;
}

header {
 min-width: 100%;
 background: #9600fa50;
}

nav {
 font-family: 'Silkscreen', cursive;
 width: 100%;
}

#title {
 font-family: 'Orbitron', sans-serif;
}

main {
 font-family: 'Orbitron', sans-serif;

}
#about {
 width: 800px;
 height: 400px;
 background: #dd15f7a2;
 border: 5px solid red;
 box-shadow: 5px 5px 5px;
 
}
#about > img {
 width: 600px;
 height: 300px;
}


.active {
 background-color: #dc15f7;
 color: black;
 border-radius: 100px;
}

/* Hamburger Menu Styles */

.hamburger {
 cursor: pointer;
 width: 24px;
 height: 24px;
 transition: all 0.25s;
 position: relative;

}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
 position: absolute;
 top: 0;
 left: 0;
 margin-bottom: 50px;
 width: 24px;
 height: 2px;
 background: #fff;
 transform: rotate(0);
 transition: all 0.5s;
}

.hamburger-middle {
 transform: translateY(7px);
}
.hamburger-bottom {
 transform: translateY(14px);
}
.open {
 transform: rotate(90deg);
 transform: translateY(0px);
}

.open .hamburger-top {
 transform: rotate(45deg) translateY(6px) translate(6px);
 
}

.open .hamburger-middle{
 display: none;
}

.open .hamburger-bottom {
 transform: rotate(-45deg) translateY(6px) translate(-6px);
 
}